<!-- Wallet Setup Step 1 - Welcome -->
<div class="ui-g-12">
    <div class="ui-g" style="text-align: center;">
        <div class="ui-g-5"></div>
        <div class="ui-g-2">
            <img src="assets/brand/casinocoin-icon-256x256.png" class="cscimg" />
        </div>
        <div class="ui-g-5"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <h3>{{ 'PAGES.SETUP.STEP1-TITLE' | translate }}</h3>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <button pButton type="button" label="{{ 'PAGES.SETUP.STEP1-BTN-CREATE' | translate }}" class="full-btn-width" (click)="create()"></button>
        </div>
        <div class="ui-g-4"></div>
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <button pButton type="button" label="{{ 'PAGES.SETUP.STEP1-BTN-RESTORE' | translate }}" class="full-btn-width" (click)="restore()"></button>
        </div>
        <div class="ui-g-4"></div>
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <button pButton type="button" label="{{ 'PAGES.SETUP.STEP1-BTN-RECREATE-MNEMONIC' | translate }}" class="full-btn-width" (click)="recreate()"></button>
        </div>
        <div class="ui-g-4"></div>
    </div>
</div>