<!-- Wallet Setup Step 5 - Finished -->
<div class="ui-g-12">
    <div class="ui-g" style="text-align: center;">
        <div class="ui-g-5"></div>
        <div class="ui-g-2">
            <img src="assets/brand/casinocoin-icon-256x256.png" class="cscimg" />
        </div>
        <div class="ui-g-5"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <h3>{{ 'PAGES.SETUP.STEP5-TITLE' | translate }}</h3>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-4"></div>
        <div class="ui-g-1">
            <p-progressSpinner *ngIf="!setupFinished" [style]="{width: '20px', height: '20px'}" strokeWidth="3" fill="#EEEEEE" animationDuration=".75s"></p-progressSpinner>
            <i *ngIf="setupFinished" class="pi pi-check"></i>
        </div>
        <div class="ui-g-3" style="text-align: left;">{{ 'PAGES.SETUP.STEP5-STATUS' | translate }}: {{statusMessage}}</div>
        <div class="ui-g-4"></div>
        <div class="ui-g-12" style="height: 10em;"></div>
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <button pButton type="button" label="{{ 'PAGES.SETUP.STEP5-BTN-FINISH-SETUP' | translate }}" class="full-btn-width" (click)="closeSetup()" [disabled]="!setupFinished"></button>
        </div>
        <div class="ui-g-4"></div>
    </div>
</div>