<!-- Wallet Setup Step 3 - Email and Password -->
<div class="ui-g-12">
    <h3 style="text-align: center;">{{ 'PAGES.SETUP.STEP3-EMAIL-PASSWORD' | translate }}</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            {{'PAGES.SETUP.STEP3-INTRO-TEXT' | translate }}
            <p>{{'PAGES.SETUP.STEP3-REQUIREMENT' | translate}}</p>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
        <div class="ui-g ui-fluid">
            <div class="ui-g-1"></div>
            <div class="ui-g-10">
                <span class="ui-float-label">
                    <input id="float-input-email" formControlName="email" type="email" class="setup-inputtext" pInputText required> 
                    <label for="float-input-emal">{{'PAGES.SETUP.STEP3-EMAIL' | translate }}</label>
                </span>
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-1"></div>
            <div class="ui-g-10">
                <span class="ui-float-label">
                    <input id="float-password" formControlName="password" type="password" (ngModelChange)="checkPasswordUpdate($event)"
                        required [(pattern)]="passwordPattern" class="setup-inputtext" pInputText required #passwordInput/>
                    <label for="float-password">{{'PAGES.SETUP.STEP3-PASSWORD' | translate }}</label>
                </span>
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-1"></div>
            <div class="ui-g-10">
                <span class="ui-float-label">
                    <input id="float-pass-repeat" formControlName="confirmPassword" type="password" (ngModelChange)="checkPasswordConfirmedUpdate($event)" 
                        required [(pattern)]="passwordPattern" [disabled]="!paswordConfirmationEnabled" class="setup-inputtext" pInputText #passwordInputConfirmed/>
                    <label for="float-pass-repeat">{{'PAGES.SETUP.STEP3-REPEAT-PASS' | translate }}</label>
                </span>
            </div>
            <div class="ui-g-1"></div>
            <div class="ui-g-4"></div>
            <div class="ui-g-4">
                <button pButton type="submit" label="{{ 'PAGES.SETUP.BTN-CONTINUE' | translate }}" [disabled]="!userform.valid || !passwordsEqual"></button>
            </div>
            <div class="ui-g-4"></div>
        </div>
    </form>
</div>