<!-- Wallet Setup Step 4 - Mnemonic -->
<div class="ui-g-12">
    <h3 style="text-align: center;">{{ 'PAGES.SETUP.STEP41-TITLE' | translate }}</h3>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">{{ 'PAGES.SETUP.STEP41-SUBTITLE' | translate }}</div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-g ui-fluid">
                <div class="ui-g-4">{{ 'PAGES.SETUP.STEP41-WORD' | translate }} {{word1}}</div>
                <div class="ui-g-8"><input type="text" [(ngModel)]="checkWord1" (ngModelChange)="checkWordsUpdate()" pInputText required></div>
                <div class="ui-g-4">{{ 'PAGES.SETUP.STEP41-WORD' | translate }} {{word2}}</div>
                <div class="ui-g-8"><input type="text" [(ngModel)]="checkWord2" (ngModelChange)="checkWordsUpdate()" pInputText required></div>
                <div class="ui-g-4">{{ 'PAGES.SETUP.STEP41-WORD' | translate }} {{word3}}</div>
                <div class="ui-g-8"><input type="text" [(ngModel)]="checkWord3" (ngModelChange)="checkWordsUpdate()" pInputText required></div>
            </div>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g-2"></div>
    <div class="ui-g-4">
        <button pButton type="button" label="{{ 'PAGES.SETUP.BTN-PREVIOUS' | translate }}" class="full-btn-width" (click)="previous()" [disabled]="previousDisabled"></button>
    </div>
    <div class="ui-g-4">
        <button pButton type="button" label="{{ 'PAGES.SETUP.BTN-CONTINUE' | translate }}" class="full-btn-width" (click)="continue()" [disabled]="!continueEnabled"></button>
    </div>
    <div class="ui-g-2"></div>
</div>