<div class="container">
    <div class="home-sidenav">
        <mat-sidenav-container class="home-sidenav-container">
            <mat-sidenav mode="side" opened="true" disableClose="true">
                <div class="app-nav">
                    <img src="assets/brand/casinocoin-icon-white-256x256.png" alt="CasinoCoin" class="csc-logo" />
                    <div class="csc-logo-text">{{ 'PAGES.HOME.ICON-FOOTER' | translate }}</div>
                    <div class="menu-nav">
                        <mat-list style="padding-top: 20px;">
                            <mat-list-item (click)="onWallet()" class="menu-item" [ngClass]="{active_menu_item: active_menu_item === 'wallet'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <i class="icon icon-transactions menu-icon"></i>
                                    </div>
                                    <div class="ui-g-9 menu-text" style="cursor: pointer;">{{ 'PAGES.HOME.WALLET' | translate }}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item (click)="onHistory()" class="menu-item" 
                                            [ngClass]="{active_menu_item: active_menu_item === 'history'}">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <i class="pi pi-align-justify menu-icon"></i>
                                    </div>
                                    <div class="ui-g-9 menu-text" style="cursor: pointer;">{{ 'PAGES.HOME.HISTORY' | translate }}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item (click)="onExchanges()" class="menu-item" 
                                            [ngClass]="{active_menu_item: active_menu_item === 'exchanges'}">
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <i class="icon icon-exchange menu-icon"></i>
                                    </div>
                                    <div class="ui-g-9 menu-text" style="cursor: pointer;">{{ 'PAGES.HOME.EXCHANGES' | translate }}</div>
                                </div>
                            </mat-list-item>
                            
                            <!-- <mat-list-item (click)="onReceiveCoins()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'receive'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <i class="icon icon-receive menu-icon"></i>
                                    </div>
                                    <div class="ui-g-9 menu-text">Receive coins</div>
                                </div>
                            </mat-list-item> -->
                            <!-- <mat-list-item (click)="onAddressbook()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'addressbook'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <i class="icon icon-book menu-icon"></i>
                                    </div>
                                    <div class="ui-g-9 menu-text">Address book</div>
                                </div>
                            </mat-list-item> -->
                            <!-- <mat-list-item (click)="onPaperWallet()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'paperwallet'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <i class="icon icon-receive menu-icon"></i>
                                    </div>
                                    <div class="ui-g-9 menu-text">Paper Wallet</div>
                                </div>
                            </mat-list-item> -->
                            <mat-list-item (click)="onSupport()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'support'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <i class="icon icon-question menu-icon"></i>
                                    </div>
                                    <div class="ui-g-9 menu-text" style="cursor: pointer;">{{ 'PAGES.HOME.SUPPORT' | translate }}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item (click)="onExit()" class="menu-item"
                                            [ngClass]="{active_menu_item: active_menu_item === 'exit'}"> 
                                <div class="ui-g">
                                    <div class="ui-g-3">
                                        <i class="pi pi-power-off menu-icon"></i>
                                    </div>
                                    <div class="ui-g-9 menu-text" style="cursor: pointer;">{{ 'PAGES.HOME.EXIT' | translate }}</div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div id="wallet-version">
                    {{ 'PAGES.HOME.WALL-VER' | translate }}: {{applicationVersion}}<br>
                    {{ 'PAGES.HOME.NETWORK' | translate }}: {{serverVersion}} ({{network}})
                </div>
            </mat-sidenav>
            <!-- primary content -->
            <p-messages [(value)]="msgs"></p-messages>
            <router-outlet></router-outlet>
            <p-toolbar class="toolbar-height">
                <div class="ui-toolbar-group-left">
                    <div class="ui-g">
                        <div class="ui-g-6">
                            <span><i class="icon icon-chip footer-icon" aria-hidden="true"></i>{{ 'PAGES.TOKENLIST.BALANCE' | translate }}: {{balance | number : '1.2-2'}}</span>
                        </div>
                        <div class="ui-g-6">
                            <span><i class="icon icon-banknote footer-icon" aria-hidden="true"></i>{{ 'PAGES.HOME.FIAT-VAL' | translate }}: {{fiat_balance}}</span>
                        </div>
                    </div>
                </div>
                <div class="ui-toolbar-group-right">
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <div (click)="onSettingsMenuClick($event)">
                                <span><i class="icon icon-gear footer-icon" aria-hidden="true"></i>{{'PAGES.SETTINGS.SETTINGS' | translate}}</span>
                            </div>
                        </div>
                        <div class="ui-g-3">
                            <div (click)="onToolsMenuClick($event)">
                                <span><i class="icon icon-wrench footer-icon" aria-hidden="true"></i>{{'PAGES.HOME.TOOLS' | translate}}</span>
                            </div>
                        </div>
                        <div class="ui-g-5" style="text-align: right">
                            <div (click)="onConnectionClick($event)" [matTooltip]="connected_tooltip">
                                <span [ngClass]="connectionColorClass"><i class="icon icon-globe footer-icon" aria-hidden="true"></i>{{connected_tooltip}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </p-toolbar>
        </mat-sidenav-container>
    </div>
</div>

<p-dialog class="dialog-header" [(visible)]="showSettingsDialog" [width]="600" [closable]="true"
          [modal]="true" appendTo="body">
    <p-header><span><i class="icon csc-dialog-icon icon-chip"></i>{{'PAGES.SETTINGS.SETTINGS' | translate}}</span></p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-g">
                <div class="ui-g-4">{{'PAGES.SETTINGS.WALLET-LANG' | translate}}</div>
                <div class="ui-g-8 bold-value" style="border-radius: 13px 13px 13px 13px;">
                    <p-dropdown 
                        [ngStyle]="{'border-radius': '13px 13px 13px 13px'}"
                        [options]="languages" 
                        [(ngModel)]="languageSystem" 
                        (ngModelChange)="changeLanguage($event)"
                        appendTo="body"
                        optionLabel="name">
                    </p-dropdown>
                </div>
                <div class="ui-g-4">{{'PAGES.SETTINGS.WALLET-UUID' | translate}}</div>
                <div class="ui-g-8 bold-value">{{currentWalletObject['walletUUID']}}</div>
                <div class="ui-g-4">{{'PAGES.SETTINGS.WALLET-CREAT-DATE' | translate}}</div>
                <div class="ui-g-8 bold-value">{{currentWalletObject['creationDate'] | cscDate : 'yyyy-MM-dd HH:mm:ss'}}</div>
                <div class="ui-g-4">{{'PAGES.SETTINGS.FIAT-VAL-CUR' | translate}}</div>
                <div class="ui-g-8 bold-value">
                    <p-dropdown
                            [style]="{'width':'100%'}"
                            [options]="fiatCurrencies"
                            [(ngModel)]="walletSettings.fiatCurrency"
                            (ngModelChange)="updateMarketService($event)"
                            appendTo="body"
                            autofocus #fiatCurrenciesDrodown></p-dropdown>
                </div>
                <div class="ui-g-4">{{'PAGES.SETTINGS.SHOW-DESK-NOT' | translate}}</div><div class="ui-g-8 bold-value">
                    <p-inputSwitch
                        (ngModelChange)="updateShowNotification($event)" 
                        [(ngModel)]="walletSettings.showNotifications">
                    </p-inputSwitch>
                </div>
                
            </div>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div style="text-align: right;">
        <button pButton type="button" (click)="onSettingsSave()" icon="icon icon-save" iconPos="right" label="{{'PAGES.SETTINGS.SAVE' | translate}}"
                *ngIf="true"
                style="width: 115px;"></button>
    </div>
</p-dialog>
<p-dialog class="dialog-header" [(visible)]="showServerInfoDialog" [width]="720" [height]="500" [closable]="true" 
        [modal]="true" appendTo="body">
    <p-header><span><i class="icon csc-dialog-icon icon-chip"></i>Server Information</span></p-header>
    <div class="ui-g">
        <div class="ui-g-4">Server</div><div class="ui-g-8 bold-value">{{currentServer?.pubkeyNode}}</div>
        <div class="ui-g-4">Server Version</div><div class="ui-g-8 bold-value">{{currentServer?.buildVersion}}</div>
        <div class="ui-g-4">Response Time (msec)</div><div class="ui-g-8 bold-value">{{currentServer?.ioLatencyMs}}</div>
        <div class="ui-g-4">Available Ledgers</div><div class="ui-g-8 bold-value">{{currentServer?.completeLedgers}}</div>
        <div class="ui-g-4">Server Status</div><div class="ui-g-8 bold-value">{{currentServer?.serverState}}</div>
        <div class="ui-g-4">Connected Peers</div><div class="ui-g-8 bold-value">{{currentServer?.peers}}</div>
        <div class="ui-g-4">Last Ledger Sequence</div><div class="ui-g-8 bold-value">{{currentServer?.validatedLedger?.ledgerVersion}}</div>
        <div class="ui-g-4">Last Closing Time</div><div class="ui-g-8 bold-value">{{currentLedger?.ledger_time | cscDate: 'HH:mm:ss'}}</div>
        <div class="ui-g-4">Close Duration (sec)</div><div class="ui-g-8 bold-value">{{currentServer?.lastClose?.convergeTimeS}}</div>
        <div class="ui-g-4">Last Close Proposers</div><div class="ui-g-8 bold-value">{{currentServer?.lastClose?.proposers}}</div>
        <div class="ui-g-4">Current Fee</div><div class="ui-g-8 bold-value">{{currentServer?.validatedLedger?.baseFeeCSC}}</div>
        <div class="ui-g-4">Current Account Reserve</div><div class="ui-g-8 bold-value">{{currentServer?.validatedLedger?.reserveBaseCSC}}</div>
    </div>
</p-dialog>

<p-dialog [(visible)]="showPasswordDialog" [width]="450" [height]="225" [closable]="true" [modal]="true" appendTo="body">
<p-header><span><i class="icon csc-dialog-icon icon-chip"></i>{{passwordDialogHeader}}</span></p-header>
<div class="ui-g ui-fluid">
    <div class="ui-g-1"></div>
    <div class="ui-g-10">
        <p>Please enter the password for the wallet.</p>
    </div>
    <div class="ui-g-1"></div>
</div>
<div class="ui-g ui-fluid">
    <div class="ui-g-1"></div>
    <div class="ui-g-10">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="icon icon-key"></i></span>
            <input type="password" pInputText placeholder="Wallet Password" style="width: 100%; padding-left: 5px;"
                   [(ngModel)]="walletPassword" (keyup.enter)="executePasswordCallback()" #passwordInput>         
        </div>
    </div>
    <div class="ui-g-1"></div>
</div>
<div class="ui-g ui-fluid">
    <div class="ui-g-1"></div>
    <div class="ui-g-5">
    </div>
    <div class="ui-g-5">
        <span>
            <button pButton type="button" (click)="executePasswordCallback()" icon="fa-check" iconPos="right" 
                    label="Ok" style="width: 150px;"></button>
        </span>
    </div>
    <div class="ui-g-1"></div>
</div>
<p-footer *ngIf="footer_visible" class="footer-error">
    Error: {{error_message}}
</p-footer>
</p-dialog>

<p-dialog [(visible)]="showImportKeyDialog" [width]="650" [height]="340" [closable]="true" [modal]="true" appendTo="body">
    <p-header><span><i class="icon csc-dialog-icon icon-chip"></i>{{ 'PAGES.HOME.IMPORT-KEY' | translate }}</span></p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <p>{{ 'PAGES.HOME.IMPORT-KEY-SECRET' | translate }}</p>
        </div>
        <div class="ui-g-1"></div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="icon icon-key"></i></span>
                <input type="text" pInputText placeholder="{{ 'PAGES.HOME.ACCOUNT-SECRET' | translate }}" style="width: 100%; padding-left: 5px;"
                       [(ngModel)]="importAccountSecret" #secretInput>         
            </div>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="icon icon-key"></i></span>
                <input type="password" pInputText placeholder="{{ 'PAGES.HOME.WALLET-PASSWORD' | translate }}" style="width: 100%; padding-left: 5px;"
                       [(ngModel)]="walletPassword" (keyup.enter)="executeKeyImport()" #passwordInput>         
            </div>
        </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-5">
            <p style="margin-top: 3px;">Import only (Not Moving funds):</p>
        </div>
        <div class="ui-g-1" style="float: unset;">
            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-4">
        </div>
        <div class="ui-g-4" style="text-align: center;">
            <button pButton type="button" (click)="checked ? confirm() : executeKeyImport()" [(icon)]="active_icon" iconPos="right" label="Ok" style="width: 100px;"></button>
        </div>
        <div class="ui-g-4"></div>
    </div>
    <p-footer *ngIf="footer_visible" class="footer-error center" style="text-align: center;">
        <p>{{footer_message}}</p>
    </p-footer>
</p-dialog>

<p-dialog [(visible)]="showSignMessageDialog" [width]="725" [height]="500" [closable]="true" [modal]="true"
          appendTo="body">
    <p-header><span><i class="icon csc-dialog-icon icon-chip"></i>{{ 'PAGES.HOME.SIGN-MSS' | translate }}</span></p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p>{{ 'PAGES.HOME.INDICATIONS' | translate }}.</p>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-2 bold-value">{{ 'PAGES.HOME.ACCOUNT' | translate }}</div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="icon icon-id"></i></span>
                <p-dropdown [style]="{'width':'100%'}" [options]="accounts" [(ngModel)]="selectedAccount"
                            placeholder="{{ 'PAGES.HOME.SEL-ACC' | translate }}..." #accountDropdown autofocus></p-dropdown>
            </div>
        </div>
        <div class="ui-g-2 bold-value">{{ 'PAGES.HOME.MESSAGE' | translate }}</div>
        <div class="ui-g-10">
            <textarea [rows]="5" [cols]="60" [(ngModel)]="msgToSign" pInputTextarea></textarea>
        </div>
        <div class="ui-g-2 bold-value">{{ 'PAGES.HOME.PASSWORD' | translate }}</div>
        <div class="ui-g-10">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon" style="box-sizing: content-box;"><i class="icon icon-key"></i></span>
                <input type="password" pInputText placeholder="{{ 'PAGES.HOME.PASSWORD' | translate }}" style="width: 100%; padding-left: 5px;"
                       [(ngModel)]="walletPassword" (keyup.enter)="signMessage()" #passwordInput>
                <button pButton type="button" (click)="signMessage()" label="Sign" class="sign-button"></button>
                <button pButton type="button" (click)="resetSigning()" label="Reset"></button>
            </div>
        </div>
        <div class="ui-g-2 bold-value">{{ 'PAGES.HOME.PUB-KEY' | translate }}</div>
        <div class="ui-g-10" (contextmenu)="saveCopyValue('signPubKey')">
            <textarea [rows]="2" [cols]="60" style="resize: none;" [ngModel]="signPubKey" pInputTextarea
                      readonly></textarea>
        </div>
        <div class="ui-g-2 bold-value">{{ 'PAGES.HOME.SIGNATURE' | translate }}</div>
        <div class="ui-g-10" (contextmenu)="saveCopyValue('signSignature')">
            <textarea [rows]="3" [cols]="60" style="resize: none;" [ngModel]="signSignature" pInputTextarea
                      readonly></textarea>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="showVerifyMessageDialog" [width]="720" [height]="500" [closable]="true" [modal]="true"
          appendTo="body">
    <p-header><span><i class="icon csc-dialog-icon icon-chip"></i>{{ 'PAGES.HOME.VER-MSG' | translate }}</span></p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p>{{ 'PAGES.HOME.MSG-INST' | translate }}.</p>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-2 bold-value">{{ 'PAGES.HOME.MESSAGE' | translate }}</div>
        <div class="ui-g-10">
            <textarea [rows]="5" [cols]="60" style="resize: none;" [(ngModel)]="msgToVerify" pInputTextarea></textarea>
        </div>
        <div class="ui-g-2 bold-value">{{ 'PAGES.HOME.PUB-KEY' | translate }}</div>
        <div class="ui-g-10">
            <textarea [rows]="2" [cols]="60" style="resize: none;" [(ngModel)]="verifyPubKey" pInputTextarea></textarea>
        </div>
        <div class="ui-g-2 bold-value">{{ 'PAGES.HOME.SIGNATURE' | translate }}</div>
        <div class="ui-g-10">
            <textarea [rows]="3" [cols]="60" style="resize: none;" [(ngModel)]="verifySignature"
                      pInputTextarea></textarea>
        </div>
        <div class="ui-g-2 bold-value">{{ 'PAGES.HOME.VERIFY' | translate }}</div>
        <div class="ui-g-10">
            <i *ngIf="verificationResult && verificationFinished" class="fa fa-check verify-true"></i>
            <i *ngIf="!verificationResult && verificationFinished" class="fa fa-times verify-false"></i>
        </div>
        <div class="ui-g-12" style="text-align: right">
            <button pButton type="button" (click)="verifyMessage()" label="Verify" style="width: 115px;"></button>
        </div>
    </div>
</p-dialog>

<p-dialog header="{{ 'PAGES.TOOLS.REF-WAL' | translate }}" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">
        <h3 class="first">{{ 'PAGES.TOOLS.PASSWORD' | translate }}</h3>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
            <input pPassword type="password" id="password" name="password" #password autofocus (keyup.enter)="onRefresh(password.value); password.value = null"/>
        </div>
        <p style="color: brown; float: left;" *ngIf="errorPass" >{{ 'PAGES.TOOLS.RECH-PASS' | translate }}</p>
        <p-footer class=" d-flex">
            <button type="button" pButton icon="pi pi-check" (click)="onRefresh(password.value); password.value = null" label="{{ 'PAGES.HOME.CONFIRM' | translate }}"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="{{ 'PAGES.HOME.CANCEL' | translate }}" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>

<p-dialog  [(visible)]="refreshWallet" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}">
        <p-header style="color: rgb(255, 255, 255);">
                {{ 'PAGES.TOOLS.WAIT-REF' | translate }}
        </p-header>
    <div class="ui-g-12">
        <div class="" style=" display: flex; justify-content: center; align-items: center;">
            <i class="pi pi-spin pi-spinner" style="font-size: 5em; color: brown" ></i>
            <h1 style="color: brown;">{{ 'PAGES.TOOLS.REFRESHING' | translate }}</h1>
        </div>
    </div>        
</p-dialog>

<p-dialog  [(visible)]="confirmImportKey" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}">
        <p-header style="color: rgb(255, 255, 255);">
                {{ 'PAGES.TOOLS.WAIT-REF' | translate }}
        </p-header>
    <div class="ui-g-12">
        <div class="" style=" display: flex; justify-content: center; align-items: center;">
            <i class="pi pi-spin pi-spinner" style="font-size: 5em; color: brown" ></i>
            <h1 style="color: brown;">{{ 'PAGES.TOOLS.REFRESHING' | translate }}</h1>
        </div>
    </div>        
</p-dialog>

<p-confirmDialog #cd [style]="{width: '50vw'}" appendTo="body">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
