@import "src/assets/variables";

:host p-dropdown {
    width: 450px;
}

::ng-deep .ui-datatable-header {
    display: none;
}

::ng-deep .text-small-top {
    font-size: small;
    vertical-align: top; 
}

::ng-deep .text-small-bottom {
    font-size: small;
    vertical-align: bottom;
}

::ng-deep .text-large {
    font-size: large;
}

::ng-deep .item-p {
    margin: 5px;
}

::ng-deep .item-label {
    color: #717171;
    font-size: smaller;
}

::ng-deep .item-value {
    color: #000000;
    font-size: small;
}

/** Remove the header from the dataTable**/
::ng-deep .ui-table-scrollable-header {
  display: none;
}

/** Remove the border from the dataTable **/
::ng-deep .ui-table.borderless .ui-table-data >tr >td { 
    border-style: hidden;
    border-radius: 3px;
}

/** Odd row color **/
::ng-deep .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
    background-color: #ffffff;
}

/** Odd and Even Selected Row Color ***/
::ng-deep .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd.ui-state-highlight {
    background-color: $casinocoinGray;
    color: #000000;
}
::ng-deep .ui-datatable tbody > tr.ui-widget-content.ui-datatable-even.ui-state-highlight {
    background-color: $casinocoinGray;
    color: #000000;
}

::ng-deep .color_red {
    color: $casinocoinRed;
}

::ng-deep .color_green {
    color: $casinocoinGreen;
}

::ng-deep .color_orange {
    color: $casinocoinOrange;
}

::ng-deep .color_blue {
    color: $casinocoinBlue;
}

::ng-deep .hide-context-menu {
    display: none;
}

::ng-deep .ui-table-scrollable-body {
    overflow-anchor: none;
}

::ng-deep .item-p {
    margin: 5px;
}

::ng-deep .item-label {
    color: #717171;
    font-size: smaller;
}

::ng-deep .item-value {
    color: #000000;
    font-size: small;
}

.ui-inputtext {
    margin: 10px 5px;
    display: block;
    padding: 10px 5px 10px 5px;
    border-bottom: solid 1px $casinocoinRed;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, $casinocoinRedLighter 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $casinocoinRedLighter 4%);
    background-repeat: no-repeat;
    color: $casinocoinRedDarker;
    background-color: #ffffff;
}

input + label {
    color: $casinocoinRed !important;
}

.ui-float-label>label {
    left: 0.75em;
    font-size: 0.85em;
}

:host p-footer {
    text-align: center;
    color: $casinocoinRed;
}

.qrcode {
    width: 100%; 
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.qrcode-input {
    margin: unset;
    padding: 5px;
    width:100%;
}

.qrcode-image {
    padding: 5px 35px;
    width: 100%;
}

fieldset {
    border: 0;
}