$fontFamily:  "Roboto";
$fontSize: 0.97em;
$borderRadius: 2px;
$disabledOpacity: 0.35;
$statusBarHeight: 40px;

$casinocoinRed: #bf0a0a;
$casinocoinRedLighter: lighten($casinocoinRed, 10%);
$casinocoinRedDarker: darken($casinocoinRed, 10%);
$casinocoinGreen: #4caf50;
$casinocoinGreenLighter: lighten($casinocoinGreen, 10%);
$casinocoinGreenDarker: darken($casinocoinGreen, 10%);
$casinocoinBlue: #114490;
$casinocoinGray: #f2f2f2;
$casinocoinOrange: #da860a;
$casinocoinBlack: #0f0f0f;