<div class="ui-widget ui-g form-container">
    <p class="form-text-header">Support</p>
    <p>If you experience any issues with the CasinoCoin wallet, there are multiple ways to contact the team:</p>
    <mat-list>
        <mat-list-item><b>Reddit: </b>Join our official subreddit and post your question <a class="link-color" href="#" (click)="openReddit()">here</a>.</mat-list-item>
        <mat-list-item><b>Discord: </b>Live chat with the community and foundation <a class="link-color" href="#" (click)="openDiscord()">here</a>.</mat-list-item>
        <mat-list-item><b>Github: </b>Report an error or bug on the <a class="link-color" href="#" (click)="openGithub()">CasinoCoin project site</a>.</mat-list-item>
        <mat-list-item><b>FAQ: </b>Go to the <a class="link-color" href="#" (click)="openFAQ()">CasinoCoin FAQ page</a> on the website. The answer may already be there.</mat-list-item>
        <mat-list-item><b>Email: </b>Write to us at <a class="link-color" href="mailto:support@casinocoin.org">support@casinocoin.org</a> and a support agent will get back to you.</mat-list-item>
        <mat-list-item><b>Social media: </b> Like us on <a class="link-color" href="#" (click)="openFacebook()">Facebook</a> and follow us on <a class="link-color" href="#" (click)="openTwitter()">Twitter</a>.</mat-list-item>
        <mat-list-item><b>BitcoinTalk: </b> Share your comments and ideas on whats latest @casinocoin, <a class="link-color" href="#"(click)="openBitcoinTalk()">click here</a>.</mat-list-item>
    </mat-list>
</div>