<div class="ui-widget ui-g form-container">
    <p-fieldset>
        <p-header style="background-color: azure;">
            <p class="form-text-header" style=" margin: 4px; font-size: 1.10em;">{{ 'PAGES.SUPPORT.SUPPORT' | translate }}</p>
        </p-header>
        <p>{{ 'PAGES.SUPPORT.SUP-SUB' | translate }} :</p>
        <hr>
        <mat-list>
            <mat-list-item><b>Discord: </b>{{ 'PAGES.SUPPORT.REF-DISC' | translate }} <a class="link-color" href="#" (click)="openDiscord()">{{ 'PAGES.SUPPORT.HERE' | translate }}</a>.</mat-list-item>
            <mat-list-item><b>Github: </b>{{ 'PAGES.SUPPORT.REF-GIT' | translate }} <a class="link-color" href="#" (click)="openGithub()">{{ 'PAGES.SUPPORT.PRO-SIT' | translate }}</a>.</mat-list-item>
            <mat-list-item><b>FAQ: </b>{{ 'PAGES.SUPPORT.REF-FAQ1' | translate }} <a class="link-color" href="#" (click)="openFAQ()">CasinoCoin FAQ page</a> {{ 'PAGES.SUPPORT.REF-FAQ2' | translate }}.</mat-list-item>
            <mat-list-item><b>{{ 'PAGES.SUPPORT.EMAIL' | translate }}: </b>{{ 'PAGES.SUPPORT.EMA-RE1' | translate }} <a class="link-color" href="mailto:support@casinocoin.org">support@casinocoin.org </a>{{ 'PAGES.SUPPORT.EMA-RE2' | translate }}.</mat-list-item>
            <mat-list-item><b>Reddit: </b>{{ 'PAGES.SUPPORT.REF-REEDIT' | translate }} <a class="link-color" href="#" (click)="openReddit()">{{ 'PAGES.SUPPORT.HERE' | translate }}</a>.</mat-list-item>
            <mat-list-item><b>{{ 'PAGES.SUPPORT.SOCIAL-MED' | translate }}: </b> {{ 'PAGES.SUPPORT.SOCIAL-RE1' | translate }} <a class="link-color" href="#" (click)="openFacebook()">Facebook</a> {{ 'PAGES.SUPPORT.SOCIAL-RE2' | translate }} <a class="link-color" href="#" (click)="openTwitter()">Twitter</a>.</mat-list-item>
            <mat-list-item><b>BitcoinTalk: </b> {{ 'PAGES.SUPPORT.BITC-TLK' | translate }} <a class="link-color" href="#"(click)="openBitcoinTalk()">click {{ 'PAGES.SUPPORT.HERE' | translate }}</a>.</mat-list-item>
        </mat-list>
    </p-fieldset>
</div>